# --- SECRETS & CREDENTIALS (KRUSIAL) ---
.env
.env.local
.env.production
.env.development
*.pem
*.key
*.json
cert.pem

# --- NODE.JS / REACT ---
node_modules/
dist/
dist-ssr/
.eslintcache
.stylelintcache
*.local

# --- TERRAFORM ---
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
.terraform.lock.hcl
*.tfplan

# --- ANSIBLE ---
*.retry
inventory.ini
.ansible_vault_pass
ansible/roles/

# --- LOGS & DEBUG ---
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# --- EDITOR & OS FILES ---
.vscode/
.idea/
.DS_Store
Thumbs.db
thumbs.db